---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";




// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";

//Import our own businness
@import "own-common-typography";
@import "own-common-hero";
@import "own-separator0";
@import "own-hero0";
@import "own-feature0";
@import "own-feature1";
@import "own-bootstrap-full-feature";


// responsive typography
html {
  font-size: 14px;
  font-weight: 300;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}



