---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";



/* Define variable here
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$enable-flex:               true;
$enable-shadows:            false;
$enable-transitions:        true;

$lead-font-size:             1.15rem;

$spacer:                     1rem;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;
$spacers: (
  0: (x: 0, y: 0 ),
  1: (x: $spacer-x, y: $spacer-y ),
  2: (x: ($spacer-x * 2), y: ($spacer-y * 2) ),
  3: (x: ($spacer-x * 3), y: ($spacer-y * 3) ),
  4: (x: ($spacer-x * 4), y: ($spacer-y * 4) ),
  5: (x: ($spacer-x * 5), y: ($spacer-y * 5) ),
  6: (x: ($spacer-x * 6), y: ($spacer-y * 6) ),
  7: (x: ($spacer-x * 7), y: ($spacer-y * 7) ),
  8: (x: ($spacer-x * 8), y: ($spacer-y * 8) ),
  9: (x: ($spacer-x * 9), y: ($spacer-y * 9) ),
  10: (x: ($spacer-x * 10), y: ($spacer-y * 10) ),
  11: (x: ($spacer-x * 11), y: ($spacer-y * 11) ),
  12: (x: ($spacer-x * 12), y: ($spacer-y * 12) )
  );


$font-family-sans-serif:        "Roboto", Helvetica, Arial, sans-serif;
$btn-padding-x-xl:               1.75rem;
$btn-padding-y-xl:               1.25rem;
$input-padding-x-xl:             1.75rem;
$input-padding-y-xl:             1.25rem;

// $border-radius:          .75rem;
// $btn-border-radius: .1rem;
// $btn-border-radius-sm: 1.25rem;
// $btn-border-radius-lg: 1.5rem;

/* Import sass file here
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";

//Import our own businness
@import "owncss/own-common-typography";
@import "owncss/own-common-hero";
@import "owncss/own-separator0";
@import "owncss/own-separator1";
@import "owncss/own-separator2";
@import "owncss/own-navbar0";
@import "owncss/own-navbar1";
@import "owncss/own-hero0";
@import "owncss/own-hero1";
@import "owncss/own-hero2";
@import "owncss/own-feature1";
@import "owncss/own-feature2";
@import "owncss/own-feature3";
@import "owncss/own-ourteam0";
@import "owncss/own-ourteam1";
@import "owncss/own-pricingtable0";
@import "owncss/own-pricingtable1";
@import "owncss/own-footer0";
@import "owncss/own-footer1";
@import "owncss/own-bootstrap-full-feature";
@import "owncss/own-utilities";







/* Override properties here
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// responsive typography
html {
  font-size: 14px;
  font-weight: 300;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

// bigger buttons
.btn-xl {
  @include button-size($btn-padding-y-xl, $btn-padding-x-xl, $font-size-lg, $btn-border-radius-lg);
}

// bigger form
.form-control-xl {
  padding: $input-padding-y-xl $input-padding-x-xl;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  @include border-radius($input-border-radius-lg);
}

.adaptable-container {
  @extend .container;
  width: 70%;
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}