.hero0 {
  .hero-title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.hero0__cta-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  } 
}