.feature2 {
  embed {
    width: 100%;
    height: auto;
  }
}

.feature2__text-left {
  @extend .col-md-6;
  align-self:center;
}

.feature2__img-right {
  @extend .col-md-5;
  @extend .offset-md-1;
  width:100%;
}



.feature2__img-left {
  @extend .col-md-5;
  @extend .pull-md-7;
  width:100%;
}

.feature2__text-right {
  @extend .offset-md-1;
  @extend .col-md-6;
   @extend .push-md-5;
  align-self:center;
}
