.pricingtable1 {


.head-title {
  width: 50%;
  height: 100px;
  text-align: center;
  margin: 0 25%;
  border-bottom: 1px solid $brand-primary;
  display: block;
}
.head-title .title-page {
  color: $brand-primary;
  font-weight: 700;
}
.head-title .subtitle {
  color: $brand-primary;
}
.head-title .subtitle a {
  color: $brand-primary;
  transition: 0.3s linear;
}
.head-title .subtitle a:hover {
  color: #F5A623;
  text-decoration: none;
}

.container__pricingtable1 {
  // height: 26rem;
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
.container__pricingtable1 .table-price {

  background: $body-bg;
  width: 17rem;
  height: 20rem;
  margin: 1% 1.5%;
  border-radius: 10px;
  box-shadow: 0px 0px 1px $brand-primary;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }  
  @include media-breakpoint-down(xs) {
    width: auto;
  }
}
.container__pricingtable1 .table-price:hover {
  box-shadow: 0px 0px 8px $brand-primary;
}
.container__pricingtable1 .table-price .pic-item {
  width: 100%;
  height: 60%;
  position: relative;
}
.container__pricingtable1 .table-price .pic-item img {
  width: 100%;
  height: 100%;
}
.container__pricingtable1 .table-price .pic-item svg {
  fill: $brand-primary;
  margin-left: auto;
}
.container__pricingtable1 .table-price .best-choice {
  background: $body-bg;
  width: 50%;
  height: 25px;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
  text-transform: uppercase;
  color: $brand-primary;
  margin: 0 25%;
  top: 56%;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}
.container__pricingtable1 .table-price .description {
  background: $brand-primary;
  width: 100%;
  height: 40%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.container__pricingtable1 .table-price .description .title {
  width: 100%;
  font-weight: 300;
  text-align: center;
  color: lighten($brand-primary, 50%);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  top: 30%;
  display: block;
  position: absolute;
}
.container__pricingtable1 .table-price .description .price {
  width: 100%;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: lighten($brand-primary, 25%);
  top: 50%;
  display: block;
  position: absolute;
}
.container__pricingtable1 .selected {
  height: 25rem;
  // top: -25px;
  position:relative;
}

}


