.hero2 {
  // .adaptable-container {
    background-image: url("/image/startup-0.svg");
    background-position-x: initial;
    background-position-y: initial;
    background-size: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  // }
}

.hero2-button {
  max-width: 15rem;
}