
.separator1__line {
  .mask { 
    overflow:hidden; height:20px; 
    &:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
      border-radius:125px / 12px;  
      box-shadow:0 0 8px black;
    }
  }
  span {
    $separator1-size:50px;
    width:$separator1-size; height:$separator1-size; 
    position:absolute; 
    bottom:100%; margin-bottom:-$separator1-size/2;
    left:50%; margin-left:-$separator1-size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $separator1-offset:4px;
    position:absolute;
    top:$separator1-offset; bottom:$separator1-offset;
    left:$separator1-offset; right:$separator1-offset;
    border-radius:100%;
    border:1px dashed #aaa;
    
    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}