
<section class="feature2">
    <div class="separator p-t-3"></div>
    <div class="container">
      <div class="row">
        <div class="feature2__text-left">
          <h3 class=" big-title">Left featurette heading. <span class="text-muted"> It'll blow your mind.</span></h3>
          <p class="big-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <button class="btn btn-primary-outline">secondary call to action</button>
        </div>
        <div class="feature2__img-right">
          <div class="separator p-t-1 hidden-md-up">&nbsp;</div>
          <div class='feature1__sub-image' >
            <object>
              <embed src="image/responsive3.svg" style="width: 100%; height: auto;" />
            </object>
          </div>
        </div>
      </div>
    </div>
  
  <div class="container">
    <div class="row">
      <div class="feature2__img-left">
        <div class="separator p-t-1 hidden-md-up">&nbsp;</div>
        <div class='subfeature-image' >
          <object>
            <embed src="image/responsive3.svg" />
          </object>
        </div>
      </div>
      <div class="feature2__text-right">
      <h3 class=" big-title">Right featurette heading. <div class="text-muted"> It'll blow your mind.</div></h3>
        <p class="big-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <button class="btn btn-primary-outline">secondary call to action</button>
      </div>
    </div>


  </div>
</section>