.u-sudoku {
  display:flex;  
  flex-direction:column; 
}


.u-sudoku__1 {
  margin-bottom:auto;
  margin-right: auto;
}
.u-sudoku__2 {
 margin-left: auto;
 margin-right: auto;
 margin-bottom: auto;
}
.u-sudoku__3 {
 margin-left: auto;
}
.u-sudoku__4 {
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
}
.u-sudoku__5 {
  margin:  auto;
}
.u-sudoku__6 {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.u-sudoku__7 {
  margin-top:auto;
}
.u-sudoku__8 {
  margin-top:auto;
  margin-left: auto;
  margin-right: auto;
}
.u-sudoku__9 {
  margin-top:auto;
  margin-left: auto;
}

.u-htube {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.u-htube--center {
  justify-content: center;
}
.u-htube--start {
  justify-content: flex-start;
}
.u-htube--end {
  justify-content: flex-end;
}






.container2 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  } 
}




.marketing-p {
  padding-left:2.5rem;
  padding-right:2.5rem;
}

hr.featurette-divider{
  height: 1px;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0, rgba(255,255,255,0) 75%);
  border-top: none;
  @extend .m-t-5;
} 

// .btn, [type=button], [type=submit], button {
//     background-color: $brand-primary;
//     border: none;
//     border-radius: .2rem;
//     color: #ffffff;
//     cursor: pointer;
//     // display: inline-block;
//     height: 4.8rem;
//     line-height: 4.8rem;
//     // max-width: 100%;
//     transition-property: background-color;
//     transition-duration: 200ms;
//     // margin: 0 auto;
//     padding: 0 3rem;
//     text-align: center;
//     user-select: none;
//     // width: auto;
// }

// input, label, select, button, textarea {
//     display: block;
//     resize: none;
//     appearance: none;
// }