.hero-title {
  @extend .display-4;
  @extend .text-xs-center;
}

.hero-text {
  @extend .lead; 
  @extend .text-xs-center;
  font-weight: 300;
  font-size: 1.5rem;
}

.hero-cta {
  max-width: 15rem;
  @include media-breakpoint-down(sm) {
    margin-left: auto;
    margin-right: auto;
  }  
}

.hero-input {
  @extend .form-control;
  @extend .form-control-xl;
}


.hero-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xl;
  @extend .btn-block;
  @include media-breakpoint-up(md) {
    margin-left: 0.3rem;
  } 
  @include media-breakpoint-down(sm) {
    margin-top: 0.3rem;
  }
}

.hero0 {
    //background-image: url('/image/pol.jpg');
    // background-image: url('/image/bluebg.svg');
  // background-image: linear-gradient($gray-lightest, $gray-lighter);
  background: radial-gradient(ellipse at center top, lighten($brand-primary, 35%), $brand-primary);
    // background-image: linear-gradient($grey-light, $grey-lighter);   
    // background-repeat: no-repeat;
    // background-size: 100%;
    color: #fff;
}

.big-title {
  @extend .lead;
  font-weight: bold;
  font-size: 1.5rem;
}

.big-text {
  @extend .lead;
  @extend .text-muted;
  // color:#697176;
}

.small-text {
  @extend .text-muted;
}
