
<section class="feature2" id='feature2'>
  <div class="separator p-t-6"></div>
  <div class="adaptable-container">
    <div class="row">
      <div class="feature2__text-left">
        <h3 class=" big-title">Big-Title for featurette. <span class="text-muted"> It'll blow your mind.</span></h3>
        <p class="big-text">Big-Text. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <button class="btn  btn-outline-primary">secondary call to action</button>
      </div>
      <div class="feature2__img-right">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/responsive3.svg" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>    


  <div class='separator m-t-1 hidden-xl-up'>&nbsp;</div>


  <div class="adaptable-container">
    <div class="row">

      <div class="feature2__text-right">
        <h3 class=" big-title">Big-Title for featurette. <span class="text-muted"> It'll blow your mind.</span></h3>
        <p class="big-text">Big-Text. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <button class="btn  btn-outline-primary">secondary call to action</button>
      </div>


      <div class="feature2__img-left">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/responsive3.svg" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>

  <div class='separator m-t-4 hidden-sm-down'>&nbsp;</div>
  <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>

</section>
