
<section class='navbar0'>
<!--   <div class="navbar0__container">
    <span id="left">Left</span>
    <span id="center">Center</span>
    <span id="right">Left</span>
  </div>
--> 

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <span class='hidden-md-down'>a logo can be big</span>
    </div>
    <div class="col-xs-12 col-md-6 text-xs-center">a big call to action maybe long</div>
    <div class="col-md-3">
      <span class='hidden-xs-up'>ccc</span>
    </div>
  </div>
</div>

</section>