
<section class='hero2'>
  <div class="adaptable-container">
    <div class="row">
      <div class="">

        <h1 class='hero-title'>
          <div class="separator m-t-3 hidden-md-up">&nbsp;</div>
          <div class="separator m-t-8 hidden-sm-down">&nbsp;</div>
          <div class=''>
            Hero-Title
          </div>
        </h1>
        
        <div class="hero-text">
          &nbsp;Hero-text. A line, not too long, simple enough to convert.
        </div>
        
        <div class="separator p-t-1"></div>
        
        <div class="">
          <button type="submit" class="hero-button hero2-button">Call to action</button>
        </div>
        <div class="separator m-t-6 hidden-sm-up">&nbsp;</div>
        <div class="separator m-t-10 hidden-xs-down">&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>