
<section class='hero0'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-10 offset-xs-1'>

        <h1 class='hero-title'>
          <div class="separator m-t-4 hidden-md-up">&nbsp;</div>
          <div class="separator m-t-12 hidden-sm-down">&nbsp;</div>
          <div class='text-xs-center'>
            Hero Title
          </div>
        </h1>
        
        <div class='hero-text text-xs-center'>
          Hero-text. A line, not too long, simple enough to convert.
        </div>
        
        <div class='separator p-t-2'></div>
        
        <div class='hero0__cta-container'>
          <input type='text' class='hero-input hero-cta' placeholder='Enter email'>
          <button type='submit' class='hero-button hero-cta'>Primary action</button>
        </div>
        <div class="separator m-t-6 hidden-md-up">&nbsp;</div>
        <div class="separator m-t-4 hidden-sm-down">&nbsp;</div>
        <div class="separator m-t-12 hidden-sm-down">&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>