.hero1 {
  background: radial-gradient(ellipse at center top, lighten($brand-primary, 35%), $brand-primary);
  color: #fff;

  .hero-cta {
    background-color: #fff;
    color: lighten($brand-primary, 15%);
    border-color: #fff;
  }
  .hero-cta:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
  }

}
.hero1__cta-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  } 
}